mat-form-field, h2, mat-slider  {
    margin-left: 10px;
    margin-right: 10px;
}

mat-slider {
    width: 300px;
}

.btn_add {
    margin:0 auto;
    display:block;
}

.text_are {
    width: 100%;
}