<div fxLayoutAlign = "center center" fxFlexFill class="div-main">
    <mat-card fxFlex="100">
      <mat-toolbar color="accent">Edit House</mat-toolbar>
      <form [formGroup]="editHouseForm" (ngSubmit)="editHouse()">
        <br>
        <h2>House Detail</h2>

        <mat-form-field appearance="standard">
          <mat-label>Home Number</mat-label>
          <input matInput placeholder="Ex: 302" [(ngModel)]="valueHomeNumber" formControlName="home_number">
          <mat-icon matSuffix>home</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Street</mat-label>
          <input matInput placeholder="Ex: 1000 N Street" [(ngModel)]="valueStreet" formControlName="street">
          <mat-icon matSuffix>home</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>City</mat-label>
          <input matInput placeholder="Ex: Fairfield" [(ngModel)]="valueCity" formControlName="city">
          <mat-icon matSuffix>home</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>State</mat-label>
          <input matInput placeholder="Ex: Iowa" [(ngModel)]="valueState" formControlName="state">
          <mat-icon matSuffix>home</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Year Built</mat-label>
          <input matInput [(ngModel)]="yearBuilt" formControlName="yearBuilt">
          <mat-icon matSuffix>today</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Zip Code</mat-label>
          <input matInput placeholder="Ex: 52557" [(ngModel)]="valueZipCode" formControlName="zipcode">
          <mat-icon matSuffix>home</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Number of Bed</mat-label>
          <input matInput [(ngModel)]="valueBed" formControlName="bed">
          <mat-icon matSuffix> local_hotel</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Number of Bath</mat-label>
          <input matInput [(ngModel)]="valueBath" formControlName="bath">
          <i matSuffix class="fa fa-bath" style="font-size: 20px;"></i>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Number of Garage</mat-label>
          <input matInput [(ngModel)]="valueGarage" formControlName="garages">
          <i matSuffix class="fa fa-solid fa-warehouse"></i>
        </mat-form-field>


        <mat-form-field appearance="standard">
          <mat-label>Squre Feet</mat-label>
          <input matInput [(ngModel)]="valueSqure" placeholder="Ex: 291029" formControlName="square"> 
          <mat-icon matSuffix>domain</mat-icon>
        </mat-form-field>
        
        <br>
        <h2>Price</h2>
        <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        [(ngModel)]="valuePrice"
        tickInterval="1000"
        step="1000"
        min="100"
        max="10000"
        aria-label="units"
        formControlName="prices"
        >
        </mat-slider>
        <mat-icon matSuffix> monetization_on</mat-icon>

        <h2>House Overview</h2>

        <mat-form-field class="text_are" appearance="outline">
          <textarea matInput
                    placeholder="This is a beautiful house overall..."
                    [(ngModel)]="valueOverview"
                    cdkTextareaAutosize 
                    [cdkAutosizeMinRows] = "2"
                    [cdkAutosizeMaxRows] = "5"
                    formControlName="propertyDetail"
          >
          </textarea>
        </mat-form-field>

        <h2>Upload House Image</h2>
        <input type="file" 
        class="img_upload"
        (change)="onFileSelected($event)" 
        >
        <br>
        <button mat-raised-button type="submit" 
        color="accent" 
        class="btn_edit"
        type="submit"
        >
          Edit House
        </button>
      </form>
    </mat-card>
  </div>
